<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.dlohaiti.dlokiosknew"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-sdk
            android:minSdkVersion="15"
            android:targetSdkVersion="15"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <application
            android:allowBackup="true"
            android:icon="@drawable/icon_launcher"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        <activity
                android:screenOrientation="landscape"
                android:name="com.dlohaiti.dlokiosknew.MainActivity"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:screenOrientation="landscape"
                android:name="com.dlohaiti.dlokiosknew.EnterSaleActivity"
                android:label="@string/title_activity_enter_sale">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.dlohaiti.dlokiosk.MainActivity"/>
        </activity>
        <activity
                android:screenOrientation="landscape"
                android:name="com.dlohaiti.dlokiosknew.ConfigurationActivity"
                android:label="@string/title_activity_configuration">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.dlohaiti.dlokiosk.MainActivity"/>
        </activity>
        <activity
                android:screenOrientation="landscape"
                android:name="com.dlohaiti.dlokiosknew.DeliveryActivity"
                android:label="@string/title_activity_delivery_tracking">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.dlohaiti.dlokiosk.MainActivity"/>
        </activity>
        <activity
                android:screenOrientation="landscape"
                android:name="com.dlohaiti.dlokiosknew.EnterPromotionActivity"
                android:label="@string/title_activity_enter_promotion">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.dlohaiti.dlokiosk.EnterSaleActivity"/>
        </activity>
        <activity
                android:screenOrientation="landscape"
                android:name="com.dlohaiti.dlokiosknew.SelectSamplingSiteActivity"
                android:label="@string/title_activity_select_sampling_site">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.dlohaiti.dlokiosknew.MainActivity"/>
        </activity>
        <activity
                android:screenOrientation="landscape"
                android:name="com.dlohaiti.dlokiosknew.ViewReportsActivity"
                android:label="@string/title_activity_view_reports">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.dlohaiti.dlokiosknew.MainActivity"/>
        </activity>
        <activity
                android:screenOrientation="landscape"
                android:name="com.dlohaiti.dlokiosknew.NewEnterReadingActivity"
                android:label="@string/title_activity_enter_reading">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.dlohaiti.dlokiosknew.SelectSamplingSiteActivity"/>
        </activity>
        <activity
                android:screenOrientation="landscape"
                android:name="com.dlohaiti.dlokiosknew.SelectSalesChannelAndCustomerActivity"
                android:label="@string/select_sales_channel_and_customer">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.dlohaiti.dlokiosknew.SelectSalesChannelAndCustomerActivity"/>
        </activity>
        <activity android:name="com.dlohaiti.dlokiosknew.CustomerAccountsActivity"
                  android:screenOrientation="landscape"
                  android:label="@string/customer_account">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.dlohaiti.dlokiosknew.AccountsActivity"/>
        </activity>
        <activity android:name="com.dlohaiti.dlokiosknew.SelectDiagnostic"
                  android:screenOrientation="landscape"
                  android:label="@string/select_diagnostic">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.dlohaiti.dlokiosknew.MainActivity"/>
        </activity>
        <activity android:name="com.dlohaiti.dlokiosknew.FlowMeterReadingActivity"
                  android:screenOrientation="landscape"
                  android:windowSoftInputMode="adjustPan|stateHidden"
                  android:label="@string/flow_meter_readings">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.dlohaiti.dlokiosknew.SelectDiagnostic"/>
        </activity>
        <activity
                android:screenOrientation="landscape"
                android:name="com.dlohaiti.dlokiosknew.AddProductsToSaleActivity"
                android:windowSoftInputMode="adjustPan"
                android:label="@string/select_products">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.dlohaiti.dlokiosknew.AddProductsToSaleActivity"/>
        </activity>
        <activity
                android:screenOrientation="landscape"
                android:name="com.dlohaiti.dlokiosknew.ShoppingCartActivity"
                android:label="@string/sale_summary_and_promotions">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.dlohaiti.dlokiosknew.ShoppingCartActivity"/>
        </activity>
        <activity android:name="com.dlohaiti.dlokiosknew.WaterQualityActivity"
                  android:screenOrientation="landscape"
                  android:windowSoftInputMode="adjustPan"
                  android:label="@string/water_quality_reading">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.dlohaiti.dlokiosknew.SelectDiagnostic"/>
        </activity>
        <activity android:name="com.dlohaiti.dlokiosknew.PaymentActivity"
                  android:screenOrientation="landscape"
                  android:windowSoftInputMode="adjustPan|stateHidden"
                  android:label="@string/payment_activity_label">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.dlohaiti.dlokiosknew.PaymentActivity"/>
        </activity>
        <activity android:name="com.dlohaiti.dlokiosknew.CustomerFormActivity"
                  android:screenOrientation="landscape"
                  android:windowSoftInputMode="adjustPan|stateHidden"
                  android:label="@string/accounts_button">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.dlohaiti.dlokiosknew.AccountsActivity"/>
        </activity>
        <activity android:name="com.dlohaiti.dlokiosknew.AccountsActivity"
                  android:screenOrientation="landscape"
                  android:label="@string/accounts_label">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.dlohaiti.dlokiosknew.MainActivity"/>
        </activity>
        <activity android:name="com.dlohaiti.dlokiosknew.SponsorsActivity"
                  android:screenOrientation="landscape"
                  android:label="@string/sponsor_label">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.dlohaiti.dlokiosknew.AccountsActivity"/>
        </activity>
        <activity android:name="com.dlohaiti.dlokiosknew.SponsorFormActivity"
                  android:screenOrientation="landscape"
                  android:windowSoftInputMode="adjustPan|stateHidden"
                  android:label="@string/sponsors_title_label">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.dlohaiti.dlokiosknew.SponsorsActivity"/>
        </activity>

    </application>

</manifest>