<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.dlohaiti.dlokiosk"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-sdk
            android:minSdkVersion="15"
            android:targetSdkVersion="15"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
            android:allowBackup="true"
            android:icon="@drawable/icon_launcher"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        <activity
                android:screenOrientation="landscape"
                android:name="com.dlohaiti.dlokiosk.MainActivity"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:screenOrientation="landscape"
                android:name="com.dlohaiti.dlokiosk.EnterSaleActivity"
                android:label="@string/title_activity_enter_sale">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.dlohaiti.dlokiosk.MainActivity"/>
        </activity>
        <activity
                android:screenOrientation="landscape"
                android:name="com.dlohaiti.dlokiosk.ConfigurationActivity"
                android:label="@string/title_activity_configuration">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.dlohaiti.dlokiosk.MainActivity"/>
        </activity>
        <activity
                android:screenOrientation="landscape"
                android:name=".DeliveryActivity"
                android:label="@string/title_activity_delivery_tracking">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.dlohaiti.dlokiosk.MainActivity"/>
        </activity>
        <activity
                android:screenOrientation="landscape"
                android:name=".EnterPromotionActivity"
                android:label="@string/title_activity_enter_promotion">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.dlohaiti.dlokiosk.EnterSaleActivity"/>
        </activity>
        <activity
                android:screenOrientation="landscape"
                android:name=".SelectSamplingSiteActivity"
                android:label="@string/title_activity_select_sampling_site">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.dlohaiti.dlokiosk.MainActivity"/>
        </activity>
        <activity
                android:screenOrientation="landscape"
                android:name=".ViewReportsActivity"
                android:label="@string/title_activity_view_reports">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.dlohaiti.dlokiosk.MainActivity"/>
        </activity>
        <activity
                android:screenOrientation="landscape"
                android:name=".NewEnterReadingActivity"
                android:label="@string/title_activity_enter_reading">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.dlohaiti.dlokiosk.SelectSamplingSiteActivity"/>
        </activity>
        <activity
                android:screenOrientation="landscape"
                android:name=".SelectSalesChannelAndCustomerActivity"
                android:label="SELECT SALES CHANNEL AND CUSTOMER">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.dlohaiti.dlokiosk.SelectSalesChannelAndCustomerActivity"/>
        </activity>
        <activity android:name=".CustomerAccountsActivity"
                  android:screenOrientation="landscape"
                  android:label="Customer Accounts">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.dlohaiti.dlokiosk.AccountsActivity"/>
        </activity>
        <activity android:name=".SelectDiagnostic"
                  android:screenOrientation="landscape"
                  android:label="Select Diagnostic">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.dlohaiti.dlokiosk.MainActivity"/>
        </activity>
        <activity android:name=".FlowMeterReadingActivity"
                  android:screenOrientation="landscape"
                  android:windowSoftInputMode="adjustPan"
                  android:label="Flow Meter Readings">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.dlohaiti.dlokiosk.SelectDiagnostic"/>
        </activity>
        <activity
                android:screenOrientation="landscape"
                android:name=".AddProductsToSaleActivity"
                android:windowSoftInputMode="adjustPan"
                android:label="SELECT PRODUCTS">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.dlohaiti.dlokiosk.AddProductsToSaleActivity"/>
        </activity>
        <activity
                android:screenOrientation="landscape"
                android:name=".ShoppingCartActivity"
                android:label="SELECT PROMOTIONS">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.dlohaiti.dlokiosk.ShoppingCartActivity"/>
        </activity>
        <activity android:name=".WaterQualityActivity"
                  android:screenOrientation="landscape"
                  android:windowSoftInputMode="adjustPan"
                  android:label="Water Quality Readings">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.dlohaiti.dlokiosk.SelectDiagnostic"/>
        </activity>
        <activity android:name=".PaymentActivity"
                  android:screenOrientation="landscape"
                  android:windowSoftInputMode="adjustPan|stateHidden"
                  android:label="Payment">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.dlohaiti.dlokiosk.PaymentActivity"/>
        </activity>
        <activity android:name=".CustomerFormActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:label="Customer Accounts">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dlohaiti.dlokiosk.AccountsActivity"/>
        </activity>
        <activity android:name=".AccountsActivity"
            android:screenOrientation="landscape"
            android:label="Accounts">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.dlohaiti.dlokiosk.MainActivity"/>
        </activity>
        <activity android:name=".SponsorsActivity"
            android:screenOrientation="landscape"
            android:label="Sponsors">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dlohaiti.dlokiosk.AccountsActivity"/>
        </activity>
    </application>

</manifest>